<h1>Angular Reading List of Awesome</h1>

<div class="row" ng-controller="ReadingListController as readingListCtrl">

  <button class="btn btn-default">Create a Review</button>
  <hr />
  
  <hr />

  <ul class="list-unstyled col-sm-8">
    <li class="book row" ng-repeat="book in readingListCtrl.books">
      
      <aside class="col-sm-3">
        <a href="http://www.amazon.com/gp/product/0553593714"><img ng-src="http://images.amazon.com/images/P?0553593714.01.ZTZZZZZZ.jpg" alt="Cover of Book Title" class="full"</a>

        <p class="goodRating rating">5/5</p>
      </aside>

        <cite class="text-muted">Written by Author here</cite>

        <p></p>

        <book-genres genres="book.genres"></book-genres>

      </div>
    </li>
  </ul>
</div>